* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.wrapper {
    min-height: 100vh;
}

h1 {
    margin: 0;
}

a {
    color: #C3073F;
}

body {
    background-color: #1A1A1D;
}

#header {
    background-color: #6F2232;
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    border-bottom: solid;
    border-color: #950740;
    border-width: 10px;
}

#name {
    background-color: #C3073F;
    width: 25%;
    height: 100px;
    text-align: center;
    color: #1A1A1D;
    float: left;
    left: 15%;
    position: absolute;
    bottom: 0;
}
                                           
#name-text {
    padding: 30px;
}

#links {
    color: #C3073F;
    float: right;
    right: 10%;
    position: absolute;
    padding-top: 15px;
}

#content-box {
    width: 70vw;
    background-color: #950740;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
}

#title {
    color: #1A1A1D;
    padding: 10px;
}

#about-hr {
    width: 90%;
    height: 3px;
    background-color: #1A1A1D;
    color: #1A1A1D;
    border: none;
}

#profilePicDiv {
    width: 15rem;
    height: 15rem;
    float: left;
    margin: 3%;
}

#profilePic {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}

#about {
    margin: 3%;
    color: #1A1A1D;
}

#footer {
    background-color: #6F2232;
    width: 100vw;
    height: 50px;
    border-top: solid;
    border-color: #950740;
    border-width: 10px;
    color: #1A1A1D;
    text-align: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
}

#portfolio-footer {
    background-color: #6F2232;
    width: 100vw;
    height: 50px;
    border-top: solid;
    border-color: #950740;
    border-width: 10px;
    color: #1A1A1D;
    text-align: center;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

footer {
    padding: 10px;
}

#form {
    color: #1A1A1D;
    padding: 20px;
}

#name-form {
    width: 90%
}

#email-form {
    width: 90%
}

#text-area-form {
    width: 90%;
    height: 75px;
}

.form-div {
    margin-top: 5px;
}

#submit {
    background-color: #6F2232;
    border: none;
    color: #1A1A1D;
    padding: 10px 15px;
}

.portfolio-box {
    margin: auto;
    width: 90%;
}

.game-div {
    background-color: green;
    width: 25vw;
    height: 25vw;
    position: relative;
    float: left;
    margin: 5% 3vw;
}

.port-img {
    width: 25vw;
    height: 25vw;
}

#train-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#bearfoot-voyager-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#trivia-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#rutgers-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#rps-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

.portfolio-name {
    background-color: #C3073F;
    height: 3rem;
    width: 25vw;
    position: absolute;
    bottom: 1vw;
    color: #1A1A1D;
    text-align: center;
    z-index: 2;
}



h3 {
    padding: 1rem;
    font-size: 1.5rem;
}


@media screen and (max-width: 980px){
   h3 {
       font-size: 1.1rem;
   }
}

@media screen and (max-width: 768px){
    
    .game-div{
        width: 60vw;
        height: 60vw;
        margin: 5% 1vw;
    }

    .port-img {
        width: 60vw;
        height: 60vw;
    }

    .portfolio-name {
        width: 60vw;
    }
    h3 {
        font-size: 1.5rem;
    }

    #name-text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px){

    #name-text {
        font-size: 1.5rem;
        padding: 30px 10px;
    }

    .links {
        font-size: 1.1rem;
    }
}

