* {
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.intro {
    display: none;
}

.allContent-wrapper {
    min-height: 100vh;
    display: none;
}

.backgroundimg{
    height: 100vh;
    width: 100vw;
    background-image: url("../images/Winter-2.jpg");
    background-size: cover;
    float: left;
    position: fixed;
    z-index: -1;
}

.contentwrapper {
    height: 75vh;
}

h1 {
    margin: 0;
}

a {
    color: rgb(255, 255, 255);
}


#header {
    background-color: #252525;
    width: 100%;
    height: 100px;
    position: relative;
    top: 0;
    border-bottom: solid;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
}

#name {
    background-color: rgb(0, 0, 0);
    width: 25%;
    height: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    float: left;
    left: 15%;
    position: absolute;
    bottom: 0;
}
                                           
#name-text {
margin-top: 40px;
margin-bottom: 40px;
}

#links {
    color: rgb(255, 255, 255);
    float: right;
    right: 10%;
    position: absolute;
    margin-top: 40px;
}

#content-box {
    width: 70vw;
    background-color: rgba(73, 73, 73, 0.781);
    margin: auto;
    margin-top: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
}

#title {
    color: rgb(255, 255, 255);
    padding: 10px;
}
.type {
    color: rgb(255, 255, 255);
    padding: 10px;
}

h2{
    margin-top: .5vh;
    margin-bottom: .5vh;
}

#about-hr {
    width: 90%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: none;
}

#profilePicDiv {
    width: 25vw;
    height: 25vw;
    float: left;
    margin: 3%;
}

#profilePic {
    width: 25vw;
    height: 25vw;
    object-fit: cover;
}

#about {
    margin: 3%;
    color: rgb(255, 255, 255);
}

#footer {
    background-color: #252525;
    width: 100vw;
    height: 12vh;
    border-top: solid;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

#portfolio-footer {
    background-color: #252525;
    width: 100vw;
    height: 12vh;
    border-top: solid;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 20px;
    position: relative;
    bottom: 0;
}

footer {
    padding: 10px;
}

#form {
    color: rgb(255, 255, 255);
    padding: 20px;
}

#name-form {
    width: 90%
}

#email-form {
    width: 90%
}

#text-area-form {
    width: 90%;
    height: 75px;
}

.form-div {
    margin-top: 5px;
}

#submit {
    background-color: #000000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
}

.portfolio-box {
    margin: auto;
    width: 90%;
}

.game-div {
    background-color: green;
    width: 25vw;
    height: 25vw;
    position: relative;
    float: left;
    margin: 5% 3vw;
}

.game-div a {
    display: inline-block;
}

#frontEndApps {
    margin-top: 10px;
}

#frontEndSplit {
    width: 90%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 50px;
}

#backEndSplit {
    width: 90%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border: none;
    margin-top: 50px;
}

#githublink {
    height: 2rem;
    margin-left: 5vw;
}

.port-img {
    width: 25vw;
    height: 25vw;
}

#train-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#Save-The-Dish {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#bearfoot-voyager-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#trivia-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#liri-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

#bamazon-img {
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    float: left;
}

.portfolio-name {
    background-color: rgb(0, 0, 0);
    height: 3rem;
    width: 25vw;
    position: absolute;
    bottom: 1vw;
    color: rgb(255, 255, 255);
    text-align: center;
    z-index: 2;
}

.description{
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 5px;
    display: none;
}



h3 {
    padding: .75rem;
    padding-bottom:0;
    padding-top: 0;
    font-size: 1.5rem;
    margin-top:0;
    margin-bottom: 0;
}


@media screen and (max-width: 980px){
   h3 {
       font-size: 1.1rem;
   }
}

@media screen and (max-width: 768px){
    
    .game-div{
        width: 60vw;
        height: 60vw;
        margin: 5% 1vw;
    }

    .port-img {
        width: 60vw;
        height: 60vw;
    }

    .portfolio-name {
        width: 60vw;
    }
    h3 {
        font-size: 1.5rem;
    }

    #name-text {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px){

    #name-text {
        font-size: 1.5rem;
        padding: 30px 10px;
    }

    .links {
        font-size: 1.1rem;
    }

    #profilePicDiv {
        height: 50vw;
        width: 50vw;
        float: none;

    }

    #profilePic {
        height: 50vw;
        width: 50vw;
        margin: 0px 7vw;
    }
}

#nzPageImg {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    
}

.devonLaFrance{
    background-color: white;
    text-align: center;
    border: none;
    padding: 150px 50px;
    border-radius: 50%;
    position: fixed;
    right: 37%;
    top: 10%;
}

#enterButton {
    border-Radius: 50%;
    border: none;
    height: 100px;
    width: 100px;
    position: fixed;
    right: 47%;
    top: 70%;
}
